static_resources:
  listeners:
    - name: inbound_listener
      address:
        socket_address:
          address: 0.0.0.0
          port_value: 8080
      filter_chains:
        - filters:
            - name: envoy.filters.network.http_connection_manager
              typed_config:
                "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                stat_prefix: ingress_http
                codec_type: AUTO
                route_config:
                  name: local_route
                  virtual_hosts:
                    - name: user_core
                      domains:
                        - "*"
                      routes:
                        - match:
                            prefix: "/"
                          route:
                            cluster: user_core
                            timeout: 0s
                http_filters:
                  - name: envoy.filters.http.jwt_authn
                    typed_config:
                      "@type": type.googleapis.com/envoy.extensions.filters.http.jwt_authn.v3.JwtAuthentication
                      providers:
                        zitadel:
                          issuer: "${ZITADEL_ISSUER}"
                          audiences:
                            - "${ZITADEL_AUDIENCE}"
                          remote_jwks:
                            http_uri:
                              uri: "${ZITADEL_JWKS_URI}"
                              cluster: zitadel_jwks
                              timeout: 5s
                            cache_duration: 300s
                          forward: true
                          claim_to_headers:
                            - header_name: x-user-id
                              claim_name: sub
                            - header_name: x-user-email
                              claim_name: email
                      rules:
                        - match:
                            prefix: "/"
                          requires:
                            provider_name: zitadel
                  - name: envoy.filters.http.router
                    typed_config:
                      "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router

  clusters:
    - name: user_core
      type: STRICT_DNS
      connect_timeout: 2s
      lb_policy: ROUND_ROBIN
      http2_protocol_options: {}
      load_assignment:
        cluster_name: user_core
        endpoints:
          - lb_endpoints:
              - endpoint:
                  address:
                    socket_address:
                      address: user-core
                      port_value: 50051

    - name: zitadel_jwks
      type: STRICT_DNS
      connect_timeout: 2s
      lb_policy: ROUND_ROBIN
      load_assignment:
        cluster_name: zitadel_jwks
        endpoints:
          - lb_endpoints:
              - endpoint:
                  address:
                    socket_address:
                      address: ${ZITADEL_JWKS_HOST}
                      port_value: ${ZITADEL_JWKS_PORT}
      transport_socket:
        name: envoy.transport_sockets.tls
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
          sni: "${ZITADEL_JWKS_HOST}"