node_modules/
frontend/node_modules/

prod.config.textproto
dev.config.textproto
prod.state.textproto
dev.state.textproto



# for testing (TODO: create separate test environment)
inventory-core/backend/data/
inventory-core/data/*


